.parrafo{
    font-size: 3em;
    background-color: aqua;
    color:blue;
}

body{
    background-image: url("espacio.jpg");
}

.resaltar{
    font-size: 150%;
    color: red;
}

.cab{
    background-color: red;
    color:blue;
    font-size: 200%;
}

.division{
    background-color: black;
    color: blanchedalmond;
    border-color: blue red;
    border-style: dashed;
    border-width: 3px;
    height: 200px;
    margin: 2em auto;
    padding: 0.8em 2em;
    text-align: center;
    width: 40%;
}